mixin head
  head
    title wireframe-u
    meta(charset='utf-8')
    meta(name='description', content='wireframe')
    meta(name='keywords', content='wireframe')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='css/main.css')
    script(src='js/main.js', charset='utf-8')
    script(src='js/function.js', charset='utf-8')

