include modules/head/head
doctype html
html
  +head
  body
   .header
      .container.header-inner
         .logo
            img(src='http://placehold.it/150x50')
         .control
            .group-btn
               button.btn.btn-default(type='button', data-toggle="modal" data-target="#siginModal") Login
               #siginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-body
                      form
                        .form-group
                          label(for='exampleInputEmail1') Email address
                          |  
                          input#exampleInputEmail1.form-control(type='email', placeholder='Email')
                        .form-group
                          label(for='exampleInputPassword1') Password
                          |  
                          input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                        button.btn.btn-primary.btn-block(type='submit') Sign In
                        div.text-center Or Sign-in by SNS Account
                      div.text-center
                        button.btn.btn-default(type='button', data-dismiss='modal') Sign-in with Facebook
                        |  
                        button.btn.btn-primary(type='button') Sign-in with Weibo
                    .modal-footer.text-center
                      p if you do not have an account,
                      strong
                        a(href='#sigupModal', data-toggle='modal', data-dismiss='modal') Create an account
               button.btn.btn-primary(type='button', data-toggle="modal" data-target="#sigupModal") Register
               #sigupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-body
                      form
                        .form-group
                          label(for='exampleInputEmail1') Email address
                          |  
                          input#exampleInputEmail1.form-control(type='email', placeholder='Email')
                        .form-group
                          label(for='exampleInputPassword1') Password
                          |  
                          input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                        button.btn.btn-primary.btn-block(type='submit') Sign Up
                        div.text-center OR
                      div.text-center
                        button.btn.btn-default(type='button', data-dismiss='modal') Sign-in with Facebook
                        |  
                        button.btn.btn-primary(type='button') Sign-in with Weibo
                    .modal-footer.text-center
                      strong By Creating an account and signing up, i accept the
                        a(href="#") Term of services 
                        | and
                        a(href="#") Privacy Policy
            .group-dropdown
               .dropdown
                  button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                     | English
                     span.caret
                  ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                     li
                        a(href='#') Action
                     li
                        a(href='#') Another action
               .dropdown
                  button#dropdownMenu2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                     i.fa.fa-jpy(aria-hidden='true')
                     span.caret
                  ul.dropdown-menu(aria-labelledby='dropdownMenu2')
                     li
                        a(href='#') Dola
                     li
                        a(href='#') Another action
   nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            |            
            span.icon-bar
            |            
            span.icon-bar
            |            
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Link
            |            
            li
              a(href='#') Link
            |            
            li
              a(href='#') Link
            |            
            li
              a(href='#') Link
            |            
            li
              a(href='#') Link
            |            
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Dropdown 
                span.caret
              |              
              ul.dropdown-menu
                li
                  a(href='#') Action
                |                
                li
                  a(href='#') Another action
                |                
                li
                  a(href='#') Something else here
                |                
                li.divider(role='separator')
                |                
                li
                  a(href='#') Separated link
   .slider
      .owl-carousel.owl-theme
         .item
            img(src='http://placehold.it/600x200/09f/fff')
         .item
            img(src='http://placehold.it/600x200/000/fff')
         .item
            img(src='http://placehold.it/600x200/05f/fff')
   .form-booking-search
      .container
         form.form-horizontal
            .form-group.relative
               label.col-sm-2.control-label(for='input-search') Search
               .col-sm-10
                  input#js-input-search.form-control.input-search-suggest(type='text', placeholder='Thing to do or place to go')
                  ul.popup-suggest-search#js-popup-suggest-search
                     li 
                        span Lorem ipsum dolor sit amet
                     li 
                        span Consectetur adipisicing elit, sed do 
                     li 
                        span Lorem ipsum
            .form-group
               label.col-sm-2.control-label(for='daterange') Calendar
               .col-sm-10
                  input#daterange.form-control(type='text', placeholder='When')
            .form-group
               label.col-sm-2.control-label(for='room') Booking Guest 
               .col-sm-10
                  input#guest.form-control(type='number', placeholder='How many?')
            .form-group
               .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') Search
   .content
      .container-fluid
         .row
            .col-sm-12
               h2 Popular Areas
            .feature-row
               .col-sm-3
                  img(src='http://placehold.it/475x300/09f/fff')
               .col-sm-3
                  img(src='http://placehold.it/475x300/09f/fff')
               .col-sm-3
                  img(src='http://placehold.it/475x300/09f/fff')
               .col-sm-3
                  img(src='http://placehold.it/475x300/09f/fff')
         .row
            .col-sm-12
               h2 Feature Tour
            .feature-row
               .col-sm-3
                  img(src='http://placehold.it/475x300/09f/fff')
               .col-sm-3
                  img(src='http://placehold.it/475x300/09f/fff')
               .col-sm-3
                  img(src='http://placehold.it/475x300/09f/fff')
               .col-sm-3
                  img(src='http://placehold.it/475x300/09f/fff')
   footer.footer
      .container.sm
         dl.dl-horizontal
            dt About Us
            dd
               | dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            dt Service center 
            dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
   .copyright.text-center
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod